<ion-view view-title="Download-Report">
    <ion-content padding="true" scroll="true" scrollbar-y="true">
        <ion-list>
            <ion-item class="item item-divider">
                <h3>Reports - Agency</h3>
            </ion-item>
            <ion-item class="item item-icon-right button-small" ng-repeat="doc in docs" ng-click="">
                <span class="dspLabel">Code: </span>
                <span class="dspValue">{{doc.codefm}}</span>
                <br />
                <span class="dspLabel">Name: </span>
                <span class="dspValue">{{doc.namefm}}</span>
                <br />
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>