<ion-view view-title="About Program">
    <ion-content padding="true" scroll="true" scrollbar-y="true">
        <div class="list card">
            <div class="item item-thumbnail-left">
                <img src="img/iFame-192p.png">
                <h2>{{appName}}</h2>
                <p>Version {{appVersion}}</p>
                <p>Copyright 2015 Phillip Life Assurance PLC.</p>
                <p>All rights reserved.</p>
            </div>
            <div class="item item-body">
                <!--
                <img class="full-image" src="delorean.jpg">
            -->
                <p>
                    This program is developed for PhillipLife's agency forces and backoffice staffs to use as a tool to support their daily operations and to make their work more easier with the online access to company's database.
                </p>
                <!--
                <p>
                    <a href="#" class="subdued">1,000,000 Likes</a>
                    <a href="#" class="subdued">0 Comments</a>
                </p>
            -->
            </div>
            <!--
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        -->
        </div>
        <div class="list card">
            <div class="item">
                <img src="img/logophillip.jpg" style="width: 81px; height: 29px; float: right;"/>
                <h4><strong>Developer Team:</strong></h4>
            </div>
            <ion-list>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">1. Noraraksa J. </span>
                    <span style="float: right; margin-right: 10px;">Project Leader</span>
                </ion-item>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">2. Arthit T.</span>
                    <span style="float: right; margin-right: 10px;">Web API Developer</span>
                </ion-item>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">3. Sakka T. </span>
                    <span style="float: right; margin-right: 10px;">Web API Developer</span>
                </ion-item>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">4. Saijai S.  </span>
                    <span style="float: right; margin-right: 10px;">UX/UI Designer</span>
                </ion-item>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">5. Thawatchai J.</span>
                    <span style="float: right; margin-right: 10px;">UI Developer</span>
                </ion-item>
                <ion-item class="item button-small">
                    <span style="float: left; margin-left: 10px;">6. Susiree T.  </span>
                    <span style="float: right; margin-right: 10px;">Applicaton Tester</span>
                </ion-item>
                <!--
                <ion-item class="item button-small">2. Arthit T. / Web API Developer</ion-item>
                <ion-item class="item button-small">3. Sakka T. / Web API Developer</ion-item>
                <ion-item class="item button-small">4. Saijai S. / UX/UI Designer</ion-item>
                <ion-item class="item button-small">5. Thawatchai J. / UI Developer</ion-item>
                <ion-item class="item button-small">6. Susiree T. / Applicaton Tester</ion-item>
            -->
            </ion-list>
        </div>
    </ion-content>
</ion-view>