<ion-view view-title="Forget Password">
    <ion-content padding="true">
        <div>
            <h4>Forget Password?</h4>
            <p>
                In case that you forget your password, please click below button and we will sent your current password to your eMail address that registered with us.
            </p>
            <input type="button" ng-click="" value="Click Here to Request Password" />
        </div>
        <div>
            <p ng-model="fgtResponse"></p>
        </div>
    </ion-content>
</ion-view>