<ion-view view-title="Policy Detail">
    <ion-content padding="true" scroll="true" scrollbar-y="true">
        <div>
            <h3>Policy No : {{searchPolId}}  ({{polType}})</h3>
            <p>
                <div class="button-bar">
                    <button class="button button-small" ng-click="PolicyInfo()"><strong>Policy</strong></button>
                    <button class="button button-small" ng-click="CoveragesInfo()"><strong>Coverages</strong></button>
                    <button class="button button-small" ng-click="MemosInfo(searchPolId)"><strong>Memo</strong></button>
                    <button class="button button-small" ng-click="PaymentsInfo()"><strong>Payments</strong></button>
                    <button class="button button-small" ng-click="ClaimsInfo()"><strong>Claims</strong></button>
                </div>
            </p>
        </div>
        <div>
            <ion-list>
                <div ng-repeat="dspItem in dspItems">
                    <ion-item class="item item-divider button-small">
                        <span class="dspLabel"><strong>{{dspItem.header}} </strong></span>
                    </ion-item>
                    <ion-item class="item button-small" ng-repeat="item in dspItem.items">
                        <span class="dspLabel">{{item.label}}: </span>
                        <span class="dspValue">{{item.value}}</span>
                    </ion-item>
                </div>
            </ion-list>
        </div>
        <br />
    </ion-content>
</ion-view>