<ion-view view-title="Policy-Inforce">
    <ion-content padding="true" scroll="true" scrollbar-y="true" has-header="true">
        <ion-list>
            <div class="bar bar-header item-input-inset">
                <ion-search placeholder="Search Policy" filter="search"></ion-search>
            </div>
            <ion-item class="item item-icon-right" 
            collection-repeat="policy in policies | filter:search.value | limitTo:listlength" 
            collection-item-height="90" collection-item-width="100%" 
            ng-href="#/menu/policydetail/{{policy.POLID}}/{{policy.POLTYPE}}/{{srcId}}">
                <p><span class="dspLabel">Policy No: </span><span class="dspValue">{{policy.POLID}}  ({{policy.POLTYPE}})</span></p>
                <p><span class="dspLabel">Insure Name: </span><span class="dspValue">{{policy.CLINAM}} {{policy.CLISNM}}</span></p>
                <p><span class="dspLabel">Status : </span><span class="dspValue">{{policy.POLCSTS}}</span></p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="listlength<=policies.length" 
            on-infinite="loadMore()" distance="3%">
      </ion-infinite-scroll>
    </ion-content>
</ion-view>