<ion-view view-title="My Profile">
    <ion-content padding="true" scroll="true" scrollbar-y="true" has-header="true">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">User ID</span>
                <input type="text" placeholder="user id" ng-model="user.userID" ng-style="{{styleInput}}" readonly>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="text" placeholder="password" ng-model="user.passWD" ng-style="{{styleInput}}" readonly>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="youremail@domain.com" ng-model="user.eMAIL" ng-style="{{styleInput}}" readonly>
            </label>
        </div>
        <!--
        <div>
            <button class="button button-positive">
                Change Data
            </button>
        </div>
    -->
    </ion-content>
</ion-view>