<ion-view view-title="Training">
    <ion-content padding="true" scroll="true" scrollbar-y="true" has-header="true">
        <ion-list>
            <ion-item class="item item-divider">
                <h3>ตารางอบรม</h3>
            </ion-item>
            <ion-item class="item item-icon-right" ng-repeat="train in trains" ng-click="openPDF(train.form)">
                 
                    <span class="dspValue-ss">{{train.namefm}}</span>
              
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>